@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #191970;
    color: #fff;
}
.container {
 margin: 12%;   
 width: 90%;
 max-width: 700px;
}
.container h1 {
    margin-bottom: 40px;
    font-size: 45px;
}
.container h1 span {
color: #3CB371;
border-bottom: 4px solid #3CB371;
}

.display {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 6px;
    padding: 24px 20px;
}

.display input {
    border: none;
    outline: 0;
    font-size: 18px;
}
.display img {
    width: 30px;
    cursor: pointer;
}

button {
    margin-top: 30px;
    background: #3CB371;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
button img {
    width: 40px
}

@media (max-width: 600px) {
    .container h1 {
        font-size: 30px;
    }
    .display {
    padding: 24px 20px;
    justify-content: space-around;
    }

    .display img {
        width: 20px; 
    }
    
    .container {
        margin: 6%;
    }
    button {
        padding: 10px 14px;
    }
    button img {
        width: 22px;
    }
}
@media (max-width: 820px) {
    .container {
        margin: 6%;
    }
}